[submodule ".zsh/powerlevel9k"]
	path = .zsh/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
[submodule "/Users/richardmin/.zsh/powerlevel10k"]
	path = /Users/richardmin/.zsh/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
